[MESSAGES CONTROL]

disable=
    import-outside-toplevel,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-public-methods,
    too-many-branches,
    too-many-return-statements,
    unused-argument,
    redefined-outer-name,

[FORMAT]

max-args=10
max-line-length=130
